<?xml version="1.0" encoding="UTF-8"?>
<server description="perfRESTJEE">

    <featureManager>
        <feature>jaxrs-2.1</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint" httpPort="9080" httpsPort="-1" host="*"/>
                  
    <applicationManager autoExpand="true"/>
    
    <webApplication location="PerfRESTJEE-S.war" name="PerfRESTJEE-S" contextRoot="/PerfRESTJEE"/>
</server>
