<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>SimpleSecurity</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<security-role>
		<role-name>AllAuthenticated</role-name>
	</security-role>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>secured</web-resource-name>
			<url-pattern>/secured/*</url-pattern>
		</web-resource-collection>
		
		<auth-constraint>
			<role-name>AllAuthenticated</role-name>
		</auth-constraint>
		
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	
	
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>Login Realm</realm-name>
		<form-login-config>
			<form-login-page>/logon.jsp</form-login-page>
			<form-error-page>/error.jsp</form-error-page>
		</form-login-config>
	</login-config>
</web-app>