<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<display-name>AppSecurityExample</display-name>
	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>
	
	<session-config>
		<session-timeout>15</session-timeout>
		<cookie-config>
			<http-only>true</http-only>
			<secure>true</secure>
			<max-age>7200</max-age>
		</cookie-config>
	</session-config>

	<security-role>
		<role-name>Admins</role-name>
	</security-role>
	
	<security-role>
		<role-name>Users</role-name>
	</security-role>
	
	<security-constraint>
		<display-name>RegularSecurity</display-name>
		<web-resource-collection>
			<web-resource-name>Secured Authenticated Resources</web-resource-name>
			<url-pattern>/secure/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Users</role-name>
			<role-name>Admins</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	
	<security-constraint>
		<display-name>Administrators</display-name>
		<web-resource-collection>
			<web-resource-name>Secured Authenticated Resources</web-resource-name>
			<url-pattern>/secure/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Admins</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	
	<error-page>
		<location>/genericerror.html</location>
	</error-page>
	
	<error-page>
		<error-code>500</error-code>
		<location>/500.html</location>
	</error-page>
	
	<error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>
	
	<error-page>
		<error-code>403</error-code>
		<location>/403.html</location>
	</error-page>
	
	<login-config>
	<!-- Change to BASIC for REST Client processing -->
		<auth-method>FORM</auth-method>
		<realm-name>Sample Application</realm-name>
		<form-login-config>
			<form-login-page>/logon.xhtml</form-login-page>
			<form-error-page>/error.xhtml</form-error-page>
		</form-login-config>
	</login-config>

	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>
	
	<context-param>
		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
		<param-value>.xhtml</param-value>
	</context-param>
	
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Production</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>-1</load-on-startup>
		<enabled>true</enabled>
		<async-supported>false</async-supported>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

</web-app>